/* Entire Body */
body {
    border: 1px solid green;
    display: flex;
    justify-content: center;
}

/* Body Content Div */
.bodyContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Prompt Button */
.button {
    margin: 0 25%;
}

/* Body Content Div */
.gridContainer {
    display: grid;
    width: 500px;
    height: 500px;
}

/* Grid Squares */
.gridSquare {
    display: flex;
    justify-content: center;
    align-items: center;
}
